@import "styles/base/variables"

.item-resume
    display: flex
    list-style: none

    // layout
    .period
        box-sizing: border-box
        padding-right: $space-small
        border-right: solid thin gray

    .content
        flex-grow: 1
        padding-left: $space-small

    // text styles
    .period 
        font-weight: bold

    .title
        text-transform: uppercase
    
    .institution
        margin-bottom: 5px

    .city
        margin-bottom: $space-medium
        font-weight: lighter
        color: gray