@import "styles/base/variables"

.item-skill
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: $space-medium

  .label
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .boxes
    display: flex
    justify-content: space-between

  .boxes div
    $size: $space-big
    
    display: inline-block
    width: $size
    height: $size
    border: solid 2px $color-primary

  .boxes div.full
    background-color: $color-primary

@media (min-width: $media-desktop)
  .item-skill
    .boxes div
      $size: 20px

      width: $size
      height: $size
