@import "styles/base/variables"

.item-skill
    margin-bottom: $space-medium
    list-style: none

    .label
        display: inline-block
        width: 160px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .boxes
        float: right

    .boxes div
        $size: $space-big
        
        box-sizing: border-box
        display: inline-block
        width: $size
        height: $size
        margin-right: $space-small
        border: solid 2px $color-primary

        &:last-child        
            margin-right: 0 // remove last margin

    .boxes div.full
        background-color: $color-primary

@media (min-width: $media-desktop)
    .item-skill
        
        .boxes div
            $size: $space-medium

            width: $size
            height: $size
            margin-right: $space-small/2
