@import "styles/base/variables"

.item-resume
  display: flex

  // layout
  .period
    flex-shrink: 0 // to avoid flex shinking it
    width: 64px
    padding-right: $space-small
    border-right: solid thin $color-gray

  .content
    flex-grow: 1
    padding-left: $space-small

  // text styles
  .title, 
  .institution,
    margin-bottom: 5px

  .period 
    font-weight: bold

  .title
    text-transform: uppercase

  .city-and-country
    font-weight: lighter
    color: $color-gray
    margin-bottom: $space-medium // margin for the entire item in order to draw the line connecting each item

@media (min-width: $media-desktop) 
    .item-resume 
      
      // layout
      .period
        width: 96px

      // text styles
      .title, 
      .institution,
        margin-bottom: 11px

      .city-and-country
        margin-bottom: $space-big