@import "styles/base/variables"

.item-candidate
  list-style: none

  img
    $size: 36px

    width: $size
    height: $size
    margin-right: $space-medium
    border-radius: $size
    vertical-align: middle


@media (min-width: $media-desktop)
  .item-candidate
    img
      $size: $space-ultra

      width: $size
      height: $size
       margin-right: $space-big