@import "styles/base/variables"

.item-rating
  display: flex
  flex-direction: column

  .label
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    text-transform: uppercase
    margin-bottom: $space-small

  .boxes div
    $size: $space-big
    
    margin-right: $space-small
    display: inline-block
    width: $size
    height: $size
    border: solid 2px $color-secondary

  .boxes div.full
    background-color: $color-secondary

@media (min-width: $media-desktop)
  .item-rating
    .boxes div
      $size: 32px

      width: $size
      height: $size
