@import "styles/base/variables"

#navigation-bar
  padding: $space-small

  a
    color: white

  img
    width: auto
    height: 44px

  .container
    margin: 0 auto
    padding: 0 // overrides default container padding

  .red
    display: flex
    justify-content: space-between
    flex-shrink: 0 // to protect the logo from distortions

  .list
    display: flex
    flex-direction: column
    align-items: center
    gap: $space-small
    padding: $space-small

  .show
    display: flex

  .hide
    display: none

  .parent-link
    color: $color-secondary

@media (min-width: $media-tablet)
  #navigation-bar .container
    display: flex

    .list
      display: flex // to override the menu button on desktop
      flex-direction: row

    .green
      flex-grow: 1

    .blue
      text-align: right
    
    .logo
      margin-right: $space-big

    .button
      display: none