@import "styles/base/variables"

#about .more-info
  background-color: $color-tertiary
  color: white

  a
    display: inline-block
    color: $color-secondary

  p
    color: white

  .button
    background-color: $color-secondary
    color: white
    margin-bottom: $space-medium // refactor should be here?