#home
  .hero
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-content: flex-end
    height: calc(100vh - 60px)
    background-color: $color-purple
    color: white

    a
      color: white

    .title
      font-size: 44px
      line-height: 53px
      margin-bottom: 5px

    .subtitle
      font-size: 15px
      line-height: 21px
      margin-bottom: 5px
      color: $color-salmon
      text-transform: uppercase
      font-weight: lighter

    .button
      background-color: $color-secondary
      color: $color-primary
    
  .candidates
    background-color: $color-purple-light
    color: white

    p
      color: $color-salmon
