@import "styles/base/variables"

#home .candidates
  background-color: $color-purple-light
  color: white

  p
    color: white

  .button
    background-color: $color-secondary
    color: $color-purple-light