@import "styles/base/variables"

#home .candidates
  .support-picture
    display: none


@media (min-width: $media-desktop) // refactor consideration, if I put item-candidate inside a grid, i can handle its mobile spacing using row gap
  #home .candidates
    .container
      display: grid // refactor consideration should be this a mixing?
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: $space-medium

    .support-picture
      display: inline

    .button:hover
      background-color: darken($color-secondary, 10%) // refactor repeated with more info