@import "styles/base/variables"

#home .candidates
  .support-picture
    display: none


@media (min-width: $media-desktop)
  #home .candidates
    .container
      display: grid
      grid-template-columns: 1fr 1fr
      grid-row-gap: $space-medium

    .support-picture
      display: inline

    .button:hover
      background-color: darken($color-secondary, 10%) // refactor repeated with more info