@import "styles/base/variables"

#home .hero
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: calc(90vh - 60px)
    background-color: $color-purple
    color: white

    .title
        font-size: 44px
        line-height: 53px
        margin-bottom: 5px

    .subtitle
        font-size: 15px
        line-height: 21px
        color: $color-salmon
        text-transform: uppercase
        font-weight: lighter

    .button
        background-color: $color-secondary
        color: $color-primary

    // To clean the margin of the last child
    .container > :last-child
        margin-bottom: 0