@import "styles/base/variables"

#profile
  ul
    margin-bottom: $space-big

@media (min-width: $media-desktop)
  #profile 
    .grid
      display: grid
      grid-template-columns: 8fr 4fr
      grid-column-gap: $space-medium