@import "styles/base/variables"

#about .introduction
  p:last-child
    margin-bottom: 0 // to respect the solution used in #about to solve the layout design

  .support-picture
      display: none


@media (min-width: $media-desktop)
  #about .introduction
    .mobile-hero
      display: none

    .container
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: $space-medium

    .support-picture
      display: inline