@import "styles/base/variables"

#about .projects
  overflow: hidden

  // solution to enable a good scroll on mobile
  .mobile-projects
    display: flex
    overflow-x: scroll
    padding-bottom: $space-big // to give space for the scrollbar

    li
      width: 152px
      flex-shrink: 0 // to avoid the flex shink
      margin-left: $space-medium

    li:last-child
      padding-right: $space-medium // to align with the container

  .desktop-projects
    display: none

@media (min-width: $media-desktop)
  #about .projects
    .mobile-projects
      display: none
      
    .desktop-projects
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-column-gap: $space-medium
      grid-row-gap: $space-big