@import "./_variables"

body
  margin: 0

img
  max-width: 100%
  height: auto

ul
  padding: 0

.App
  font-family: "Gotham", Arial, Helvetica, sans-serif
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.container
  padding: $space-big