@import "./variables"

body
  margin: 0
  position: relative // for footer
  min-height: 100vh // for footer

img
  max-width: 100%
  height: auto

ul
  padding: 0

.App
  @include standard-text-mobile

  padding-bottom: $footer-height-mobile
  color: $color-text
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.container
  box-sizing: border-box
  padding: $space-big

.background-dark
  background-color: $color-tertiary
  color: white

  a
    color: $color-secondary

  .button
    background-color: $color-secondary
    color: white

@media (min-width: $media-desktop)
  .App
    @include standard-text-desktop
    
    padding-bottom: $footer-height-desktop
    
  .container
    margin: 0 auto
    padding: $space-ultra 0 // to remove the side space
    max-width: 960px