@import "./variables"

h1, h2, h3, p
  margin-top: 0

h1
  font-size: 28px
  line-height: 28px
  margin-bottom: 18px

h2
  font-size: 21px
  line-height: 21px
  margin-bottom: 15px   

h3
  font-size: 15px
  line-height: 15px
  margin-bottom: 5px

p
  font-size: 15px
  line-height: 21px
  margin-bottom: 15px
  color: $color-text

small
  font-size: 11px
  line-height: 14px
  margin-bottom: 11px

a
  color: $color-primary
  text-decoration: none

  &:hover
    text-decoration: underline

@media (min-width: $media-desktop)
  h1
    font-size: 37px
    line-height: 37px
    margin-bottom: 15px

  h2
    font-size: 26px
    line-height: 26px
    margin-bottom: 11px   

  h3
    font-size: 20px
    line-height: 20px
    margin-bottom: 8px

  p
    font-size: 20px
    line-height: 20px
    margin-bottom: 8px

  small
    font-size: 13px
    line-height: 16px
    margin-bottom: 13px