@import "./variables"

h1,h2,h3,p
  margin-top: 0

h1
  font-size: 28px
  line-height: 34px
  margin-bottom: 18px

h2
  font-size: 21px
  line-height: 25px
  margin-bottom: 15px   

h3
  font-size: 15px
  line-height: 21px
  margin-bottom: 5px

p
  font-size: 15px
  line-height: 21px
  margin-bottom: 15px
  color: $color-text

a
  color: $color-primary
  text-decoration: none

  &:hover
    text-decoration: underline